@charset "UTF-8";
.height-box{
  height: 500px;
}
.image-box{
  background: url(../../image/coffee-background.jpg);
}
.image-box-repeat{
  background: url(../../image/coffee-background.jpg) no-repeat;
}
.image-center-box{
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}
.image-contain-box{
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}