@charset "UTF-8";
.bubble-box{
  position: relative;
  width: 500px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
}
.bubble-box:before,.bubble-box:after{
  content: "";
  position: absolute;
  border: 20px solid transparent;
  left: 45px;
}
.bubble-box:before{
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}
.bubble-box:after{
  border-top: 20px solid #fad296;
  bottom: -37px;
}